// bower:scss
// endbower


$blue: #5994B3;
$purple: #A3f;
$white: #fff;

$p-size: 22px;
$p-height: $p-size * 1.5;

body {
    background: url('../images/crossword/crossword.png') repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@font-face {
    font-family: 'True-Crimes';
    src: url('../fonts/True-Crimes/true-crimes.ttf');
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    text-align: center;
    h1 {
        background-color: $blue;
        color: $white;;
        border-radius: 15px;
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
        a {
            text-decoration: none;
            color: $blue;
            &:hover {
                color: $purple;
            }
        }
    }
    .movieDiv {
        font-family: 'Source Sans Pro', sans-serif;      
        .movie {
            float: left;
            width: 50%;
            &.left {                
                img {
                    padding: 10px;
                    background-color: $white;
                    border-radius: 3px;
                    max-width: 500px;
                    max-height: 500px;
                    box-shadow: -20px 20px 20px rgba(0,0,0,0.40);
                } 
            }//left
            &.right {
                h2 {
                    font-size: 40px;
                }
                h3, h4 {
                    font-weight: 600;
                    font-size: 30px;
                } 
                p {
                    font-size: $p-size;
                    line-height: $p-height;
                }
            }//right
        }//movie
    } //movieDiv
    input[type="button"] {
        margin-top: 30.2px;
        font-family: 'Source Sans Pro', Helvetica;
        font-weight: 800;
        font-size: 25px;
        padding: 20px;
        border-radius: 5px;
        color: white;
        background-color: $blue;
        border: none;
        &:hover {
            background-color: $purple;
        }
        &:active {
            color: #000;
        }
    }
}


@media (max-width: 1000px) {
    .movie {
        &.left {
            img {
                width: 350px;
                height: 350px;
            }
        }
    }
}

@media (max-width: 750px) {
    .wrapper{
        .movieDiv {
            .movie {
                width: 100%;       
            } 
        }
    }  
}
