// bower:scss
// endbower

body {
    background: url('../images/wild_flowers/wild_flowers.png') repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@font-face {
    font-family: 'True-Crimes';
    src: url('../fonts/True-Crimes/true-crimes.ttf');
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    font-family: 'True-Crimes', Helvetica, sans-serif;
    text-align: center;
    h1 {
        border-bottom: 3px solid black;
        padding-bottom: 5px;
        a {
            text-decoration: none;
            color: #A3f;
        }
    }
    .movieDiv {
        font-family: 'Source Sans Pro', sans-serif;
        h2 {
            font-size: 40px;
        }
        h3, h4 {
            font-weight: 600;
            font-size: 30px;
        }
        img {
            padding: 5px;
            background-color: white;
            border-radius: 15px;
            max-width: 500px;
        }   
    }
    input[type="button"] {
        font-family: 'Source Sans Pro', Helvetica;
        font-weight: 800;
        font-size: 25px;
        padding: 20px;
        border-radius: 5px;
        background-color: #FF61F6;
        &:hover {
            background-color: #A3f;
        }
        &:active {
            color: white;
        }
    }
}


